@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");
body {
  font-family: "poppins", sans-serif;
  color: #400d51;
  background-color: #b6eafa;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f89cab;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*header section*/
.hero_area {
  padding: 0 45px;
}

.hero_area.sub_pages {
  height: auto;
}
 
#navbarSupportedContent {
  width: 100%;
  background-color: #ff55bb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  border-radius: 15px 15px 0 0;
}

#navbarSupportedContent.innerpage_navbar .nav-item.active .nav-link {
  background-color: #fcffb2;
}

#navbarSupportedContent .navbar-nav .nav-link {
  padding: 5px 25px;
  color: #400d51;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

#navbarSupportedContent .nav-item.active .nav-link {
  background-color: #fcffb2;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  margin: 15px 0;
  padding: 0;
  text-decoration: none;
}

.navbar-brand h2 {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  padding: 0;
  border: none;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  /* margin-bottom: 20px; */
}

.user_option a {
  margin-right: 25px;
  color: #000000;
}

.user_option a span {
  margin-left: 5px;
}

/* header section */
 .slider_section {
  border-radius: 0 0 15px 15px; 
  background-color: #d800a6;
}

.slider_section .detail-box {
  padding-left: 45px;
  margin: 45px 0;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 10px;
  color:#3f2e3e;
  text-shadow: 5px 5px 5px white, 5px 5px 5px #331d2c;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #ff55bb;
  color: #ffffff;
  border: 1px solid #ff55bb;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 25px;
  text-transform: uppercase;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #ff55bb;
}

.slider_section img {
  border: 1px dotted #d800a6;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgb(57, 34, 34),3px 3px 3px 3px white;
}

/* Custom CSS for the animated div */
.animated-div {
  position: relative;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Animation effect using keyframes on hover */
.animated-div:hover {
  animation: pulse 2s infinite;
}

/* Animation effect using keyframes */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(58, 223, 55, 0.4);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  }
}

.category a {
  font-size: 22px;
  color: white;
  /* border-radius: 30px; */
  background-color: rgba(0, 0, 0, 0.2); 
  font-weight: 500;
  text-shadow: 5px 5px 5px #ff165d, 5px 5px 5px #ff9a00;
  border: 1px solid grey;
}

/* shop section */

.shop_card input {
  background-color: #400d51;
  color:white; 
  border:none;
   border-radius:5px;
}
.shop_section .heading_container {
  margin-bottom: 20px;
}

.shop_card {
  background-color: #ff55bb;
}
.shop_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.shop_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #ff55bb;
  color: #ffffff;
  border: 1px solid #ff55bb;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.shop_section .btn-box a:hover {
  background-color: transparent;
  color: #ff55bb;
}

/* end shop section */

.why_section .box {
  text-align: center;
  margin-top: 45px;
  background-color: #f9f8f7;
  padding: 25px;
  border-radius: 5px;
}

.why_section .box .img-box {
  margin-bottom: 15px;
}

.why_section .box .img-box img {
  /* width: 55px; */
  height: auto;
  fill: #320b57;
}

/* category section */
/* .category_section .row img{
  filter: blur(2px);
} */
/* end category section */
.gift_section {
  padding-left: 45px;
  padding-right: 45px;
}

.gift_section .box {
  background-color: #ff7777;
  border-radius: 15px;
  color: #ffffff;
}

.gift_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gift_section .img-box {
  padding: 60px 0 60px 25px;
}

.gift_section .img-box img {
  width: 50%;
}

.gift_section .detail-box {
  padding: 0 25px;
}

.gift_section .detail-box p {
  margin-top: 5px;
}

.gift_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px -5px 0;
}

.gift_section .detail-box .btn-box a {
  width: 165px;
  text-align: center;
  margin: 5px;
}

.gift_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gift_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #ffffff;
}

.contact_section {
  position: relative;
}

.contact_section .container-bg {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.contact_section .heading_container {
  margin-bottom: 30px;
}

.contact_section .row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact_section form {
  padding-right: 35px;
  padding: 45px 20px;
}

.contact_section input {
  width: 100%;
  border: 1px solid #919191;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  display: inline-block;
  padding: 12px 45px;
  background-color: #f89cab;
  color: #ffffff;
  border: 1px solid #db4f66;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
  color: #fff;
  margin: 35px auto 0 auto;
}

.contact_section button:hover {
  background-color: transparent;
  color: #db4f66;
}

.contact_section .map_container {
  height: 100%;
  min-height: 375px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.group_section .heading_container {
  margin-bottom: 20px;
}

/* info section */
.info_section {
  position: relative;
  background-color: #400d51;
  color: #ffffff;
  margin: 0 45px 45px;
}

.info_section .social_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.info_section .social_container .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .social_container .social_box a {
  margin: 0 10px;
  color: #ffffff;
  font-size: 24px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f89cab;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .row > div {
  margin-top: 25px;
}

.info_section a {
  text-transform: none;
}

.info_section h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}

.info_section p {
  color: #cbc9c9;
}

.info_section .info_link-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.info_section .info_link-box a:hover {
  color: #ffffff;
}

.info_section .info_link-box a i {
  color: #ffffff;
  margin-right: 5px;
  font-size: 18px;
}

.info_section .info_link-box a span {
  color: #cbc9c9;
}

.info_section .info_link-box a:hover span {
  color: #ffffff;
}

/* end info section */
/* footer section*/
.footer_section {
  margin-top: 45px;
  font-weight: 500;
}

.footer_section p {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  border-top: 1.5px solid #eeeeee;
  width: 80%;
}

.footer_section a {
  color: #cbc9c9;
}

/* end footer section*/

/* about section */
.about_section {
  background-color: #fcffb2;
  border-bottom-left-radius: 25px; 
  border-bottom-right-radius: 25px;
}
/* end about section */

.shop_section .btn {
  height: 45px;
}

/* start group section  */

#customCarousel2{
  border-bottom: 3px  solid black;
  border-top: 3px solid red;
  border-right: 3px solid red;
  border-left: 3px  solid black;
}

.carousel_btn-box {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.carousel-control-prev {
  width: 2rem;
  height: 30px;
  font-size: 20px;
  background-color: grey; 
  color: #fff; 
  border-radius: 50%;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-control-next {
  width: 2rem;
  height: 30px;
  font-size: 20px;
  background-color: grey; 
  color: #fff; 
  border-radius: 50%;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2rem;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none; 
}

/* end group section  */


/*# sourceMappingURL=style.css.map */