@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
 }

/* Home */
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../images/background1.jpg");
    /* background-image: url("../images/login_logo.jpg"); */
    background-color: #fffff0;
    background-size:contain;
    background-position: center;
    
  }

/* Form */
.form_container {
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background:#fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    pointer-events: auto;
    transition: all 0.3s ease-out;
    border:1px solid #ffbfea;
    box-shadow: 1px 1px 1px 1px #ff55bb, 1px 1px 1px 1px #ff55bb inset;
  }

  .button {
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
  }

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
  
}

.input_box {
    position: relative;
    margin-top: 35px;
    width: 100%;
    height: 40px;
  }

.input_box .errorMsg {
  color: red;
  font-size:x-small;
}

  .input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
  }

  .input_box input:focus {
    border-color: #7d2ae8;
  }

  .input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
  }
  .input_box i.user,
  .input_box i.email,
  .input_box i.password {
    left: 0;
    padding-left: 5px;
  }
  .input_box input:focus ~ i.email,
  .input_box input:focus ~ i.password {
    color: #7d2ae8;
  }
  .input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    padding-right: 5px;
    cursor:auto;
  }

  .option_field {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .form_container a {
    color: #7d2ae8;
    font-size: 12px;
    text-decoration: none;
  }
  .form_container a:hover {
    text-decoration: underline;
  }

  .form_container .button {
    background: pink;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
  }
  .login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }




.cart_section table {
    background-color: #fcffb2;
}

.cart_section .continue_shop {

    background-color: #ff55bb;
}

.cart_section .continue_shop a {
    text-decoration: none;
    color: #400d51;
}